<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Prompt Academy help</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="min-height: 1500px">
         <h3>More a Art than a science</h3>
                        <p>Prompt engineering is a process of creating a prompt, or a question, that encourages a user to take a desired action. It is a powerful tool for increasing user engagement and driving conversions. Here is an example of how to create a prompt engineering:</p>
                            <h3>Step 1: Identify the Goal</h3>
                            <p>The first step in creating a prompt engineering is to identify the goal. What action do you want the user to take? Do you want them to sign up for a newsletter, download an app, or make a purchase? Once you have identified the goal, you can move on to the next step.</p>
                            <h3>Step 2: Craft the Prompt</h3>
                            <p>The next step is to craft the prompt. This is where you create the question or statement that will encourage the user to take the desired action. Make sure the prompt is clear and concise, and that it speaks to the user's needs. For example, if you want the user to sign up for a newsletter, you could create a prompt like "Sign up for our newsletter and get the latest updates!"</p>
                            <h3>Step 3: Test and Optimize</h3>
                            <p>The final step is to test and optimize the prompt. This involves testing different versions of the prompt to see which one performs best. You can also use A/B testing to compare different versions of the prompt and determine which one is most effective. Once you have identified the best performing prompt, you can use it to drive conversions.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>