/*
 * Custom CSS
 */

 :root {
    --bs-primary: #000000;
    --bs-primary-rgb:0,0,0;
    --bs-dark-bg-subtle: #ffe600;
    --bs-btn-bg: #ffe600;
    --bs-btn-border-color: #ffe600;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ffe600c5;
  }